a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_3a151bc th {  } 
#table_3a151bc td {  } 
body { background-color:#FFFFFF; background-image: url(rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_49364a9 { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_49364a9_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_6fab104c { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_6fab104c_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#00FFFF; font-style:italic; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#00FFFF; font-weight:bold;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_67c5a5c8 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:613px; background-color:#000000;  }
#container_67c5a5c8_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle10 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_3a151bc { vertical-align: bottom; position:relative; display: inline-table; width:64%; height:371px; background:none; table-layout: fixed;  }
#cell_63851a2 {  }
#img_5d6e8fc5 { vertical-align: bottom; position:relative; display: inline-block; width:92%; background:none;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_382cbccc {  }
#img_58465b21 { vertical-align: bottom; position:relative; display: inline-block; width:77%; background:none;  }
#cell_276db422 {  }
#img_46b0c69c { vertical-align: bottom; position:relative; display: inline-block; width:79%; background:none;  }
#cell_49ec4bae {  }
#img_1abba20d { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none;  }
#cell_4c46cf44 {  }
#img_1994e0d2 { vertical-align: bottom; position:relative; display: inline-block; width:77%; background:none;  }
#cell_6530c995 {  }
#img_169edec1 { vertical-align: bottom; position:relative; display: inline-block; width:70%; background:none;  }
