a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_6e3a76ce th { border: 1px solid #8C8C8C;  } 
#table_6e3a76ce td { border: 1px solid #8C8C8C;  } 
#table_9022bbf th {  } 
#table_9022bbf td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_38b56572 { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_38b56572_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_1c84632b { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_1c84632b_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_40c8368a { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:613px; background-color:#181619;  }
#container_40c8368a_padding { margin: 10px; display: block;  }
#table_6e3a76ce { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:19%; height:140px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_2591842a {  }
#img_149edc9c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_6c5b77d1 { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:154px; background:none;  }
#container_6c5b77d1_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle10 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
.textstyle12 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_9022bbf { vertical-align: bottom; position:relative; display: inline-table; width:82%; height:608px; background:none; table-layout: fixed;  }
#cell_6d1c74c3 {  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_fb36e63 {  }
#audio_153d0912 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_353946e3 {  }
#cell_1497f3b4 {  }
#audio_69df678f { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_69563e92 {  }
#cell_2150fa7f {  }
#audio_4b58d6fd { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_3bf16073 {  }
#cell_1bdf4e8c {  }
#audio_25b8112d { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6372ef2c {  }
#cell_39a13c77 {  }
#audio_e37b403 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7144ae7c {  }
#cell_59afa598 {  }
#audio_6e42984b { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6409f847 {  }
#cell_1354b0f {  }
#audio_31fc9f08 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_b2041cc {  }
#cell_3680eb9 {  }
#audio_f2ae41b { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_784852be {  }
#cell_48916986 {  }
#audio_6dbc64e9 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6a10eded {  }
#cell_b7b28e3 {  }
#audio_5e5c8731 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_74acef95 {  }
#cell_713f3ccf {  }
#audio_c131272 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_78567fe5 {  }
#cell_15f29634 {  }
#audio_479e85b6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_2405c3c9 {  }
#cell_64802b77 {  }
#audio_19f446e8 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_657642d1 {  }
#cell_326f3a3b {  }
#audio_b61e83 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_3830d4d5 {  }
#cell_322a2f93 {  }
#audio_146acaae { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_59cea90f {  }
#cell_25bcdda2 {  }
#audio_5ef93a62 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
