a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_78bff89b th { border: 1px solid #8C8C8C;  } 
#table_78bff89b td { border: 1px solid #8C8C8C;  } 
#table_40bc1880 th {  } 
#table_40bc1880 td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5616e585 { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_5616e585_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_2386f5af { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_2386f5af_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_40fcb774 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:473px; background-color:#181619;  }
#container_40fcb774_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_78bff89b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:21%; height:145px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_789b3a9 {  }
#img_6b0a0558 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
#container_7ecb5c5f { vertical-align: top; position:relative; display: inline-block; width:76%; min-height:213px; background:none;  }
#container_7ecb5c5f_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
#table_40bc1880 { vertical-align: bottom; position:relative; display: inline-table; width:79%; height:598px; background:none; table-layout: fixed;  }
#cell_4ab48a4b {  }
.textstyle12 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_21c85519 {  }
#audio_f11ed50 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_579f572f {  }
#cell_5c17f023 {  }
#audio_6d9fc346 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_d75b7d1 {  }
#cell_7bb6723a {  }
#audio_174fbbca { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4fa18e1 {  }
#cell_19c09732 {  }
#audio_6e01cfea { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_690011d2 {  }
#cell_1f8f6b6c {  }
#audio_789175cb { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_19252999 {  }
#cell_67367245 {  }
#audio_31e9306d { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7ae82997 {  }
#cell_6f87498c {  }
#audio_7e61b60e { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4cdd36f7 {  }
#cell_4b21ac47 {  }
#audio_7a495f19 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_64c6c498 {  }
#cell_3b42e9dd {  }
#audio_5733c5d7 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4864e083 {  }
#cell_430e4792 {  }
#audio_11dc96e6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_3a195145 {  }
#cell_9038ba {  }
#audio_2b7759f6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_c798b63 {  }
#cell_67ef04f1 {  }
#audio_75de1b49 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_155afd3d {  }
#cell_31ecf81 {  }
#audio_6d176d02 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7d7328db {  }
#cell_2591a13d {  }
#audio_701ee5a0 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_307eb493 {  }
#cell_6c716894 {  }
#audio_76fab2ac { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_5b26006a {  }
#cell_54e7e8b8 {  }
#audio_21c829b0 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
