a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_70082cb5 th { border: 1px solid #8C8C8C;  } 
#table_70082cb5 td { border: 1px solid #8C8C8C;  } 
#table_53797471 th {  } 
#table_53797471 td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_367bebf6 { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_367bebf6_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_5d7cbe12 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_5d7cbe12_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_650abe15 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:473px; background-color:#181619;  }
#container_650abe15_padding { margin: 10px; display: block;  }
#table_70082cb5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:17%; height:131px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_53e9a3ab {  }
#img_2e18e390 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
#container_2fd91754 { vertical-align: top; position:relative; display: inline-block; width:83%; min-height:177px; background:none;  }
#container_2fd91754_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#9090FF;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle10 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_53797471 { vertical-align: bottom; position:relative; display: inline-table; width:82%; height:562px; background:none; table-layout: fixed;  }
#cell_6058d15 {  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_2a64b3ae {  }
#audio_76dfdc81 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_f13da55 {  }
#cell_1fbec4f5 {  }
#audio_78055da2 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7f894697 {  }
#cell_4902854c {  }
#audio_3578321b { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_250423ca {  }
#cell_56357dc7 {  }
#audio_25bd00f2 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_2f04d44a {  }
#cell_4bd8ccd3 {  }
#audio_1ee7d79d { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_19690fcc {  }
#cell_1001a78e {  }
#audio_c31bbfd { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4710ac38 {  }
#cell_6848ba0 {  }
#audio_517c0d28 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_489b3d8 {  }
#cell_50443472 {  }
#audio_3abda5d0 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_19c14bed {  }
#cell_5937bf07 {  }
#audio_4aba8bf3 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_71742726 {  }
#cell_5367cd03 {  }
#audio_5c87a008 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_fdbfed7 {  }
#cell_4c63728e {  }
#audio_66793a4f { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_1789df23 {  }
#cell_73cb5bf {  }
#audio_7e041a8c { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_5e11d928 {  }
#cell_2d7b4969 {  }
#audio_24e3eb05 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7107b4be {  }
#cell_7a7cbcc2 {  }
#audio_5475a51b { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_77910cbb {  }
#cell_7cabf6e6 {  }
#audio_1c6e0b8e { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
