a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_238231e9 th { border: 1px solid #8C8C8C;  } 
#table_238231e9 td { border: 1px solid #8C8C8C;  } 
#table_6d2dd433 th {  } 
#table_6d2dd433 td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_4d2e226d { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_4d2e226d_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_491a62e6 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_491a62e6_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_557d032a { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:432px; background-color:#181619;  }
#container_557d032a_padding { margin: 10px; display: block;  }
#table_238231e9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:17%; height:159px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_3310436c {  }
#img_355a9811 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
#container_4473df6d { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:188px; background:none;  }
#container_4473df6d_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle10 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_6d2dd433 { vertical-align: bottom; position:relative; display: inline-table; width:79%; height:560px; background:none; table-layout: fixed;  }
#cell_59299990 {  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_28d8ef31 {  }
#audio_6598e7fb { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_52958ea5 {  }
#cell_4f98b62 {  }
#audio_3564bc16 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_5ab47418 {  }
#cell_5413056b {  }
#audio_105956d6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_5fdec02b {  }
#cell_5b5d7ea1 {  }
#audio_38d296dd { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_49b26a41 {  }
#cell_5bfa6758 {  }
#audio_2218d2b4 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_36e1e858 {  }
#cell_3cfa0dcf {  }
#audio_51dd1a2f { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_73249144 {  }
#cell_510d7fec {  }
#audio_7d48d734 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_16337b5f {  }
#cell_6f510895 {  }
#audio_3b62a34e { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_1d0e9860 {  }
#cell_341793ed {  }
#audio_7b158426 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_34042f14 {  }
#cell_294a0ae8 {  }
#audio_18a61349 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_d7f7436 {  }
#cell_7446523 {  }
#audio_7e4f3457 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_23a4c632 {  }
#cell_2b8ad0d3 {  }
#audio_466424f6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_2d65da9e {  }
#cell_2238b7f8 {  }
#audio_66981399 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_1fc3bde7 {  }
#cell_15ebf00e {  }
#audio_25870703 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_323ebc9 {  }
#cell_29c6944a {  }
#audio_1b33dca6 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_60fd7768 {  }
#cell_61bd2509 {  }
#audio_6fbd9cc7 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
