a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_103b5c73 th { border: 1px solid #8C8C8C;  } 
#table_103b5c73 td { border: 1px solid #8C8C8C;  } 
#table_62709428 th {  } 
#table_62709428 td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_56e27b3b { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_56e27b3b_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_94f4ad3 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_94f4ad3_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_1590382d { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:483px; background-color:#181619;  }
#container_1590382d_padding { margin: 10px; display: block;  }
#table_103b5c73 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:19%; height:132px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_1bb6b284 {  }
#img_2c7116ea { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
#container_71037a78 { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:150px; background:none;  }
#container_71037a78_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#BBBBFD;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle10 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_62709428 { vertical-align: bottom; position:relative; display: inline-table; width:79%; height:608px; background:none; table-layout: fixed;  }
#cell_4f34cc6e {  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_14de6854 {  }
#audio_50c906c2 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_28787caa {  }
#cell_6ff89f41 {  }
#audio_73bda0f4 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_2bc926a0 {  }
#cell_61c472e7 {  }
#audio_5a9fcc7a { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6e9e2c54 {  }
#cell_ea3b47e {  }
#audio_efa682 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7d7f79dd {  }
#cell_4b4e21bc {  }
#audio_4d3010c9 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7fa5239b {  }
#cell_15f9c727 {  }
#audio_3c89489e { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_1b166e26 {  }
#cell_297d27c3 {  }
#audio_6df3d864 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4a065c39 {  }
#cell_7b547ce0 {  }
#audio_4c7cc58a { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_322e3c6f {  }
#cell_5d9ab79c {  }
#audio_6933d5ab { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_353a5805 {  }
#cell_3e2f4515 {  }
#audio_43c64280 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_71fbe97c {  }
#cell_1ebebf5c {  }
#audio_76543de1 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_80e4e6e {  }
#cell_2145fd1 {  }
#audio_470ac4dd { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_e90d421 {  }
#cell_450824da {  }
#audio_5c19d71c { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_52d50cb9 {  }
#cell_714e5a50 {  }
#audio_3bd38d17 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_5af44f54 {  }
#cell_7a3f4f72 {  }
#audio_16feeedf { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_17f3bcff {  }
#cell_431272da {  }
#audio_428514aa { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
