a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp40bc1880{ color:#0080FF; text-decoration: underline} 
		a.wsp40bc1880:visited{ color:#800080; text-decoration: underline} 
		a.wsp40bc1880:active{ color:#8018CB; text-decoration: underline} 
		a.wsp40bc1880:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp363209de{ color:#A01FCB; text-decoration: underline} 
		a.wsp363209de:visited{ color:#8080FF; text-decoration: underline} 
		a.wsp363209de:active{ color:#8018CB; text-decoration: underline} 
		a.wsp363209de:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp75abdb9f{ color:#00A1FF; text-decoration: underline} 
		a.wsp75abdb9f:visited{ color:#800080; text-decoration: underline} 
		a.wsp75abdb9f:active{ color:#8018CB; text-decoration: underline} 
		a.wsp75abdb9f:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1b67dbf0{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1b67dbf0:hover{ color:#FFFFFF; text-decoration: underline} 
#table_75690335 th { border: 1px solid #8C8C8C;  } 
#table_75690335 td { border: 1px solid #8C8C8C;  } 
#table_4867e833 th {  } 
#table_4867e833 td {  } 
body { background-color:#FFFFFF; background-image: url(../rc_images/3403160_1024x682.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_68fe4326 { vertical-align: top; position:relative; display: inline-block; width:72%; min-height:135px; background:none;  }
#container_68fe4326_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { text-align:left; }
#container_5fcdca19 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:409px; background:none;  }
#container_5fcdca19_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF00; font-style:italic; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_1fd9dd1a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:80%; min-height:613px; background-color:#181619; border: 1px solid #404040;  }
#container_1fd9dd1a_padding { margin: 10px; display: block;  }
#table_75690335 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:17%; height:137px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_389f94e9 {  }
#img_76461fe4 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
#container_313f930 { vertical-align: top; position:relative; display: inline-block; width:83%; min-height:150px; background:none;  }
#container_313f930_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF;  }
.textstyle10 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#00ACFF;  }
.textstyle12 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_4867e833 { vertical-align: bottom; position:relative; display: inline-table; width:79%; height:549px; background:none; table-layout: fixed;  }
#cell_24b03f36 {  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#cell_3f2be38f {  }
#audio_17c6ed17 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7dfca937 {  }
#cell_40f6f92b {  }
#audio_700ae342 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_2104e2c0 {  }
#cell_7cc28000 {  }
#audio_32aabf3 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_74f8b085 {  }
#cell_7a879cfd {  }
#audio_5acfb01a { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_7cb9c60c {  }
#cell_69fcba52 {  }
#audio_ea1896a { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6036d6 {  }
#cell_3d8ccbb7 {  }
#audio_24d810db { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_10377463 {  }
#cell_2ec39e67 {  }
#audio_7883ba7c { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4e6f07ae {  }
#cell_48ef720e {  }
#audio_2b37d698 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_4cf5715a {  }
#cell_564289d1 {  }
#audio_27de8c33 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_48e28962 {  }
#cell_490d75da {  }
#audio_5ad5420e { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_6fe91bc7 {  }
#cell_9da77dd {  }
#audio_32754fc4 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_3a408b00 {  }
#cell_5b94d7a6 {  }
#audio_7f47f038 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_27649c22 {  }
#cell_247160fb {  }
#audio_524340ed { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_36175d75 {  }
#cell_7a349e57 {  }
#audio_6a8f83d3 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#cell_747437a5 {  }
#cell_39a987f9 {  }
#audio_24a694d0 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
